@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf");
}

#navbar{
    background-color: #272c40;
    min-height: 75px;
}

h1{
    font-family: Montserrat;
    font-size: 60px;
    color: #272c40;
}

p{
    font-family: Roboto;
    font-size: 24px;
    color: #272c40;
}

input{
    background-color:lightsteelblue;
}

body{
    background-color: cornsilk;
}

.container {
    position: relative;
    width: 100%;
    flex: 1 0 auto;
    margin: 0 auto;
    text-align: left;
}